{% extends '@App/base.html.twig' %}
{% block body %}
<body class="" id="top">
  <div class="main">
<!--=====================
          Content
======================-->
<section class="content gallery"><div class="ic">More Website Templates @ TemplateMonster.com - June 02, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>Our Projects</h3>
      </div>
      <div class="grid_4">
        <div class="box">
          <div class="maxheight">
            <a href="{{ asset('images/big1.jpg') }}" class="gal"><img src="{{ asset('images/page2_img1.jpg') }}" alt=""></a>
            <div class="box_bot"><div class="text1">Lorem ipsum dolor sit tconsectetur adipiscing elit. In mollis erat</div> <a href="#" class="fa fa-chevron-right"></a></div>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <div class="maxheight">
            <a href="{{ asset('images/big2.jpg') }}" class="gal"><img src="{{ asset('images/page2_img2.jpg') }}" alt=""></a>
            <div class="box_bot"><div class="text1">Dorem ipsum dolor sit tconsectetur adipiscing elit. In mollis erat</div> <a href="#" class="fa fa-chevron-right"></a></div>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <div class="maxheight">
            <a href="{{ asset('images/big3.jpg') }}" class="gal"><img src="{{ asset('images/page2_img3.jpg') }}" alt=""></a>
            <div class="box_bot"><div class="text1">Jurem ipsum dolor sit tconsectetur adipiscing elit. In mollis erate</div> <a href="#" class="fa fa-chevron-right"></a></div>
          </div>
        </div>
      </div>
      <div class="clear ind__1"></div>
      <div class="grid_4">
        <div class="box">
          <div class="maxheight">
            <a href="{{ asset('images/big4.jpg') }}" class="gal"><img src="{{ asset('images/page2_img4.jpg') }}" alt=""></a>
            <div class="box_bot"><div class="text1">Terem ipsum dolor sit tconsectetur adipiscing elit. In mollis erat</div> <a href="#" class="fa fa-chevron-right"></a></div>
          </div>
        </div>      
        <div class="clear ind__1"></div>
      </div>
      <div class="grid_4">
        <div class="box">
          <div class="maxheight">
            <a href="{{ asset('images/big5.jpg') }}" class="gal"><img src="{{ asset('images/page2_img5.jpg') }}" alt=""></a>
            <div class="box_bot"><div class="text1">Meorem ipsum dolor sit tconsectetur adipiscing elit. In mollis era </div><a href="#" class="fa fa-chevron-right"></a></div>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <div class="maxheight">
            <a href="{{ asset('images/big6.jpg') }}" class="gal"><img src="{{ asset('images/page2_img6.jpg') }}" alt=""></a>
            <div class="box_bot"><div class="text1">Morem ipsum dolor sit tconsectetur adipiscing elit. In mollis eratwe</div> <a href="#" class="fa fa-chevron-right"></a></div>
          </div>
        </div>
      </div>
      <div class="clear ind__1"></div>
      <div class="grid_4">
        <div class="box">
          <div class="maxheight">
            <a href="{{ asset('images/big7.jpg') }}" class="gal"><img src="{{ asset('images/page2_img7.jpg') }}" alt=""></a>
            <div class="box_bot"><div class="text1">Korem ipsum dolor sit tconsectetur adipiscing elit. In mollis erter</div> <a href="#" class="fa fa-chevron-right"></a></div>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <div class="maxheight">
            <a href="{{ asset('images/big8.jpg') }}" class="gal"><img src="{{ asset('images/page2_img8.jpg') }}" alt=""></a>
            <div class="box_bot"><div class="text1">Lorem ipsum dolor sit tconsectetur adipiscing elit. In mollis erat</div> <a href="#" class="fa fa-chevron-right"></a></div>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <div class="maxheight">
            <a href="{{ asset('images/big9.jpg') }}" class="gal"><img src="{{ asset('images/page2_img9.jpg') }}" alt=""></a>
            <div class="box_bot"><div class="text1">LGrem ipsum dolor sit tconsectetur adipiscing elit. In mollisatetro</div> <a href="#" class="fa fa-chevron-right"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}

