<!--==============================
              header
=================================-->
<header>
    <!--==============================
                Stuck menu
    =================================-->
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <div class="socials">
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                    <a href="#" class="fa fa-pinterest"></a>
                </div>
                <div class="clear"></div>
                <h1>
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('images/logo.png') }}" alt="Logo alt">
                    </a>
                </h1>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="navigation ">
                        <nav>
                            <ul class="sf-menu">
                                <li class="current"><a href="{{ path('homepage') }}">Home</a></li>
                                <li><a href="{{ path('home1') }}">Projects</a></li>
                                <li><a href="{{ path('home2') }}">Services</a></li>
                                <li><a href="{{ path('home3') }}">Blog</a></li>
                                <li><a href="{{ path('home4') }}">Contacts</a></li>
                            </ul>
                        </nav>

                        <div class="clear"></div>
                    </div> </div>
            </div>
        </div>
    </div>
</header>